.DS_Store
.idea/
.vscode/
.venv/
venv/

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg-info/
build/
dist/

outputs/
_to_delete/
*.zip


# generati/log locali
MUJOCO_LOG.TXT
datasets/generated/
